Source: esyplay
Section: graphics
Priority: extra
Maintainer: Andoni Morales Alastruey <ylatuya@gmail.com>
Build-Depends: debhelper (>= 7), cdbs, autotools-dev,
 libgtk2.0-cil-dev,libgtk2.0-dev, libdb4o-cil-dev,
 mono-devel, cli-common-dev, libgstreamer0.10-dev,
 libgstreamer-plugins-base0.10-dev, libmono-addins-cil-dev
Standards-Version: 3.8.0

Package: esyplay
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gstreamer0.10-plugins-good,
 gstreamer0.10-plugins-bad, gstreamer0.10-plugins-ugly, gstreamer0.10-ffmpeg,
 gstreamer0.10-gnonlin, libdb4o8.0-cil, libgtk2.0-cil, libmono2.0-cil,
 libav-tools, libmono-addins0.2-cil
Description: Sports video analysis software
